# Maven
employee-management-service/target/

# IntelliJ IDEA
.idea/
.settings/
.junie
*.iml

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Environment/config secrets
.env
application-local.properties

# Frontend Files
react-frontend/hrms-react-frontend/node_modules/
react-frontend/hrms-react-frontend/dist/

